@page
@model Bank.Pages.Accounts.AccountsModel
@{
    ViewData["Title"] = "Accounts";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">

            <div class="card d-flex justify-content-center">

                <div class="card-header mt-2 text-center">
                    <h1>All Accounts</h1>
                </div>

                <div class="card-body">

                    <div class="mb-3 mt-1 d-flex justify-content-between">
                        <partial name="_BackPartial" />
                        <div class="text-end">Page no. @Model.CurrentPage of @Model.PageCount</div>
                    </div>

                    @*SEARCH*@
                    <form method="get" class="m-3 text-center">
                        <input asp-for="@Model.Q" placeholder="Search" />
                        <input type="hidden" asp-for="@Model.Country" />
                        <button type="submit" class="bg-white border-0">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                                     
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="th-box" scope="col">
                               
                                    <div >
                                        Id
                                    <a asp-page="/Accounts/Accounts"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Country"
                                       asp-route-sortOrder="asc"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-angle-up"></i>
                                    </a>
                                    <a asp-page="/Accounts/Accounts"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Country"
                                       asp-route-sortOrder="desc"
                                       style="text-decoration:none">
                                        <i class="fa-solid fa-angle-down"></i>
                                    </a>
                                    </div>
                            
                                </th>
                                <th class="th-box" scope="col">
                                    
                                    <div>
                                        Balance
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Balance"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Balance"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </div>
                                  
                                </th>
                                <th class="th-box" scope="col">
                                    <div>
                                        Frequency
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Frequency"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Frequency"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </div>
                                </th>
                                <th class="th-box" scope="col">
                                    
                                    <div>
                                        Created
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Created"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Accounts/Accounts"
                                           asp-route-q="@Model.Q"
                                           asp-route-sortColumn="Created"
                                           asp-route-country="@Model.Country"
                                           asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        Transaction
                                    </div>
                                </th>

                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var a in Model.Accounts)
                            {
                                <tr>
                                    <td>@a.AccountId</td>
                                    <td>@a.Balance</td>
                                    <td>@a.Frequency</td>
                                    <td>@a.Created.ToShortDateString()</td>

                                    <td d-md-flex flex-column >
                                        <a class="m-2" asp-page="/Accounts/Withdraw"
                                       asp-route-accountId="@a.AccountId">
                                            <i class="fa-regular fa-square-minus"></i>
                                        </a>

                                        <a class="m-2" asp-page="/Accounts/Deposit"
                                       asp-route-accountId="@a.AccountId">
                                            <i class="fa-regular fa-square-plus"></i>
                                        </a>

                                        <a class="m-2" asp-page="/Accounts/Transaction"
                                       asp-route-accountId="@a.AccountId">
                                            <i class="fa-solid fa-plus-minus"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <a asp-page="/Accounts/Account"
                                       asp-route-accountId="@a.AccountId"
                                           class="btn btn-sm btn-primary">View</a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    @if (Model.CurrentPage != 1)
                                    {
                                        <a class="btn btn-lg btn-secondary"
                                       asp-page="/Accounts/Accounts"
                                       asp-route-country="@Model.Country"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="@Model.SortColumn"
                                       asp-route-sortOrder="@Model.SortOrder"
                                       asp-route-pageNo="@(Model.CurrentPage - 1)">
                                            Prev
                                        </a>
                                    }
                                </td>
                                <td colspan="4">
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        string activeBtn = "btn-light";
                                        if (i == Model.CurrentPage)
                                        {
                                            activeBtn = "btn-secondary";
                                        }

                                        <a class="btn @activeBtn"
                                       asp-page="/Accounts/Accounts"
                                       asp-route-country="@Model.Country"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="@Model.SortColumn"
                                       asp-route-sortOrder="@Model.SortOrder"
                                       asp-route-pageNo="@i">
                                            @i
                                        </a>
                                    }
                                </td>
                                <td>
                                    @if (Model.CurrentPage != Model.LastPage)
                                    {
                                        <a class="btn btn-lg btn-secondary"
                                       asp-page="/Accounts/Accounts"
                                       asp-route-country="@Model.Country"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="@Model.SortOrder"
                                       asp-route-sortOrder="@Model.SortOrder"
                                       asp-route-pageNo="@(Model.CurrentPage + 1)">
                                            Next
                                        </a>
                                    }

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <partial name="_BackPartial" />
                  
                </div>
              
            </div>
        </div>
    </div>
</section>