@page
@model Bank.Pages.Accounts.AccountModel
@{
    ViewData["Title"] = "Account";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            <div class="card d-flex justify-content-center">
                <div class="card-header mt-2 text-center">
                    <h1>Account No @Model.SingleAccount.AccountId</h1>
                </div>

                <div class="card-body">               
                    <div class="mb-3 mt-1 d-flex justify-content-between">
                        <partial name="_BackPartial" />

                        <div class="d-flex justify-content-end">                         
                                <a class="m-2" asp-page="/Accounts/Withdraw"
                                   asp-route-accountId="@Model.SingleAccount.AccountId">
                                    <i class="fa-regular fa-square-minus"></i>
                                    Withdraw
                                </a>

                                <a class="m-2" asp-page="/Accounts/Deposit"
                                   asp-route-accountId="@Model.SingleAccount.AccountId">
                                    <i class="fa-regular fa-square-plus"></i>
                                    Deposit
                                </a>

                                <a class="m-2" asp-page="/Accounts/Transaction"
                                   asp-route-accountId="@Model.SingleAccount.AccountId">
                                    <i class="fa-solid fa-plus-minus"></i>
                                    Transfer
                                </a> 
                        </div>
                    </div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="col">Id</th>
                                <td>@Model.SingleAccount.AccountId</td>
                            </tr>
                            <tr>
                                <th scope="col">Balance</th>
                                <td>@Model.SingleAccount.Balance.ToString("N2")</td>
                            </tr>
                            <tr>
                                <th scope="col">Frequency</th>
                                <td>@Model.SingleAccount.Frequency</td>
                            </tr>
                            <tr>
                                <th scope="col">Created</th>
                                <td>@Model.SingleAccount.Created.ToShortDateString()</td>
                            </tr>
                        </tbody>
                    </table>
                                        
                    @*Transactions table*@
                    <table class="table table-striped" id="posts-table">
                        <thead>
                            <tr>
                                <th colspan="5"><h3>Transactions</h3></th>
                            </tr>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Type</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <partial name="_BackPartial" />
                        <a class="btn btn-secondary" href="javascript:showMore();">Show More</a>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <script>
        pageNum = 1;
        CustomerId = @Model.SingleCustomer.CustomerId;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });

        function showMore() {
            fetch(`/Customers/Customer?handler=ShowMore&customerId=${CustomerId}&pageNum=${pageNum}`)
                .then((response) => response.json())
                .then((json) => {
                    console.log('JSON data:', json);
                    pageNum = pageNum + 1;
                    json.transactions.forEach(drawElements);
                })
                .catch((error) => console.log(error));
        }

        function drawElements(element) {
            console.log('Element:', element);
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
                                    <td>${element.amount}</td>
                                    <td>${element.type}</td>
                                    <td>${element.balance}</td>
                                    <td>${element.date.substring(0, 10)}</td>
                                    <td>

                                    </td>
                                </tr>`;
        }
    </script>


 @*   <script>
        pageNum = 1;
        AccountId = @Model.SingleAccount.AccountId;
        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });
        function showMore() {
            fetch(`/Accounts/Account?handler=ShowMore&accountId=${AccountId}&pageNum=${pageNum}`)
                .then((response) => response.json())
                .then((json) => {
                    console.log('JSON data:', json); 
                    pageNum = pageNum + 1;
                    json.transactions.forEach(drawElements);
                })
                .catch((error) => console.log(error)); 
        }
        function drawElements(element) {
            console.log('Element:', element); 
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
                                    <td>${element.amount}</td>
                                    <td>${element.type}</td>
                                    <td>${element.balance}</td>
                                    <td>${element.date.substring(0, 10)}</td>
                                    <td>
                                   
                                    </td>
                                </tr>`;
        }
    </script>*@
}
