@page
@model Bank.Pages.Customers.CustomerModel
@{
    ViewData["Title"] = "Customer";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">

            <div class="card d-flex justify-content-center">

                <div class="card-header mt-2 text-center">
                    <h1>@Model.SingleCustomer.Givenname @Model.SingleCustomer.Surname</h1>
                </div>

                <div class="card-body">
                    <div class="mb-3 mt-1">
                        <partial name="_BackPartial" />
                    </div>

                    <div class="d-flex justify-content-center">
                     

                        <div class="m-3">
                            <a asp-page="/Customers/EditCustomer"
                               asp-route-customerId="@Model.SingleCustomer.CustomerId"
                               class="btn btn-sm btn-primary">
                                Edit
                            </a>
                        </div>
                    </div>


                    @*Customer information table*@
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="col">Customer Id</th>
                                <td>@Model.SingleCustomer.CustomerId</td>
                            </tr>
                            <tr>
                                <th scope="col">Birthdate</th>
                                <td>@(Model.SingleCustomer.Birthday.HasValue ? Model.SingleCustomer.Birthday.Value.ToString("d") : "")</td>
                            </tr>
                            <tr>
                                <th scope="col">National Id</th>
                                <td>@Model.SingleCustomer.NationalId</td>
                            </tr>
                            <tr>
                                <th scope="col">Address</th>
                                <td>
                                    @Model.SingleCustomer.Streetaddress @Model.SingleCustomer.Zipcode <br />
                                    @Model.SingleCustomer.City, @Model.SingleCustomer.Country
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Contact Info</th>
                                <td>
                                    <i class="fa-regular fa-envelope"></i> @Model.SingleCustomer.Emailaddress <br />
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    +@Model.SingleCustomer.Telephonecountrycode @Model.SingleCustomer.Telephonenumber
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Number of accounts </th>
                                <td>
                                    @Model.NumberOfAccounts
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Total account balance</th>
                                <td>
                                    @Model.Balance
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*Accounts table*@
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="5"><h3>Accounts</h3></th>
                            </tr>
                            <tr>
                                <th scope="col">AccountId</th>
                                <th scope="col">Frequency</th>
                                <th scope="col">Created</th>
                                <th scope="col">Balance @Model.Today</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var account in Model.Accounts)
                            {
                                <tr>
                                    <td>@account.AccountId</td>
                                    <td>@account.Frequency</td>
                                    <td>@account.Created.ToShortDateString()</td>
                                    <td>@account.Balance</td>
                                    <td><a asp-page="/Accounts/Account" asp-route-accountId="@account.AccountId" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @*Transactions table*@
                    <table class="table table-striped" id="posts-table">
                        <thead>
                            <tr>
                                <th colspan="5"><h3>Transactions</h3></th>
                            </tr>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Type</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <partial name="_BackPartial" />
                        <a class="btn btn-secondary" href="javascript:showMore();">Show More</a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>




@section Scripts
    {
    <script>
        pageNum = 1;
        CustomerId = @Model.SingleCustomer.CustomerId;
        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        });
        function showMore() {
            //pagenum och customerid är känsliga och behöver heta samma som i din onget
            fetch(`/Customers/Customer?handler=ShowMore&customerId=${CustomerId}&pageNum=${pageNum}`)
                .then((response) => response.json())
                .then((json) => {
                    console.log('JSON data:', json); //visar om du får nån json data F12 console.log
                    pageNum = pageNum + 1;
                    json.transactions.forEach(drawElements);
                })
                .catch((error) => console.log(error)); //error loggning
        }
        function drawElements(element) {
            console.log('Element:', element); //kollar om den får sina element
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
                            <td>${element.amount}</td>
                            <td>${element.type}</td>
                            <td>${element.balance}</td>
                            <td>${element.date.substring(0, 10)}</td>
                            <td>
                              
                            </td>
                        </tr>`;
        }
    </script>
}
