@page
@model Bank.Pages.Customers.EditCustomerModel
@{
    ViewData["Title"] = "Edit Customer";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">

            <div class="card w-75">

                <div class="card-header mt-2 text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                                    
                        <div class="mb-3 mt-1">
                            <partial name="_BackPartial" />
                        </div>
                
                    <div class="card-body">
                        <form method="post">

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Gender">Gender</label>
                                <select class="form-control"
                                        asp-for="@Model.Customer.Gender"
                                        asp-items="@Model.Genders">
                                    <option value="">-- Select gender --</option>
                                </select>
                                <span asp-validation-for="@Model.Customer.Gender" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Givenname">First name</label>
                                <input class="form-control"
                                       placeholder="Insert first name here"
                                       asp-for="@Model.Customer.Givenname">
                                <span asp-validation-for="@Model.Customer.Givenname"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Surname">Last name</label>
                                <input class="form-control"
                                       placeholder="Insert last name here"
                                       asp-for="@Model.Customer.Surname">
                                <span asp-validation-for="@Model.Customer.Surname"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Streetaddress">Street address</label>
                                <input class="form-control"
                                       placeholder="Insert street address here"
                                       asp-for="@Model.Customer.Streetaddress">
                                <span asp-validation-for="@Model.Customer.Streetaddress"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Zipcode">Zip code</label>
                                <input class="form-control"
                                       placeholder="Insert zip code here"
                                       asp-for="@Model.Customer.Zipcode">
                                <span asp-validation-for="@Model.Customer.Zipcode"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.City">City</label>
                                <input class="form-control"
                                       placeholder="Insert city here"
                                       asp-for="@Model.Customer.City">
                                <span asp-validation-for="@Model.Customer.City"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Country">Country</label>
                                <select class="form-control"
                                        asp-for="@Model.Customer.Country"
                                        asp-items="@Model.Countries"
                                        onchange="updateTelephoneCountryCode(this.value)">
                                    <option value="">-- Select country --</option>
                                </select>
                                <span asp-validation-for="@Model.Customer.Country" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.CountryCode">Country Code</label>
                                <input class="form-control"
                                       id="CountryCode"
                                       placeholder="Insert Country Code here"
                                       asp-for="@Model.Customer.CountryCode">
                                <span asp-validation-for="@Model.Customer.CountryCode"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Birthday">Birth date</label>
                                <input class="form-control"
                                       placeholder="Insert birth date here"
                                       asp-for="@Model.Customer.Birthday">
                                <span asp-validation-for="@Model.Customer.Birthday"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.NationalId">National Id</label>
                                <input type="text"
                                       class="form-control" 
                                       placeholder="Insert national Id here"
                                       asp-for="@Model.Customer.NationalId">    
                                <span asp-validation-for="@Model.Customer.NationalId"
                                      class="text-danger"></span>
                            </div>

                           <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Telephonecountrycode">Telephone country code</label>
                                <input class="form-control"
                                       id="Telephonecountrycode"
                                       placeholder="Insert telephone country code here"
                                       asp-for="@Model.Customer.Telephonecountrycode">
                                <span asp-validation-for="@Model.Customer.Telephonecountrycode"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Telephonenumber">Telephone number</label>
                                <input class="form-control"
                                       placeholder="Insert telephone number here"
                                       asp-for="@Model.Customer.Telephonenumber">
                                <span asp-validation-for="@Model.Customer.Telephonenumber"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.Customer.Emailaddress">Email</label>
                                <input class="form-control"
                                       placeholder="Insert email here"
                                       asp-for="@Model.Customer.Emailaddress">
                                <span asp-validation-for="@Model.Customer.Emailaddress"
                                      class="text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="mt-2 btn btn-primary">Save</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />

    <script>
        function updateTelephoneCountryCode(country) {
            const countryCodeInput = document.getElementById('CountryCode');
            const telephoneCountryCodeInput = document.getElementById('Telephonecountrycode');
            const countryData = {
                'Sweden': {
                    'countryCode': 'SE',
                    'telephoneCountryCode': '46'
                },
                'Denmark': {
                    'countryCode': 'DK',
                    'telephoneCountryCode': '45'
                },
                'Norway': {
                    'countryCode': 'NO',
                    'telephoneCountryCode': '47'
                },
                'Finland': {
                    'countryCode': 'FI',
                    'telephoneCountryCode': '358'
                },
            };
            if (country in countryData) {
                countryCodeInput.value = countryData[country]['countryCode'];
                telephoneCountryCodeInput.value = countryData[country]['telephoneCountryCode'];
            } else {
                countryCodeInput.value = '';
                telephoneCountryCodeInput.value = '';
            }
        }
    </script>

}