@page
@model Bank.Pages.Users.ReadUsersModel
@{
    ViewData["Title"] = "All Users";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">


            <div class="card">
                <div class="card-header mt-2 text-center">
                    <h1>Users: @Model.TotalUsers</h1>
                </div>
                <div class="card-body">

                    <div class="d-flex justify-content-center">
                        <div class="m-3">
                            <a asp-page="/Index"
                               class="btn btn-sm btn-secondary">
                                Back
                            </a>
                        </div>

                        <div class="m-3">
                            <a asp-page="/Users/CreateUser"
                               class="btn btn-sm btn-primary">
                                Add
                            </a>
                        </div>
                    </div>


                    @if (Model.Users != null && Model.Users.Any())
                    {

                        <table class="table table-striped">
                            <thead>
                                <div class="text-center">
                                <form method="get" class="m-3">
                                    <input asp-for="@Model.Q" />
                                    <input type="hidden" asp-for="@Model.Users" />
                                    <input type="submit" value="Search" />
                                </form>
                                </div>

                                <tr>

                                    <th class="d-none d-xl-table-cell" scope="col">
                                        Id
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th scope="col">
                                        User name
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </th>
                                    <th class="d-none d-xl-table-cell" scope="col">
                                        Email
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="asc"
                                           style="text-decoration: none">
                                            <i class="fa-solid fa-angle-up"></i>
                                        </a>
                                        <a asp-page="/Users/ReadUsers"
                                       asp-route-q="@Model.Q"
                                       asp-route-sortColumn="Id"
                                       asp-route-country="@Model.Users"
                                       asp-route-sortOrder="desc"
                                           style="text-decoration:none">
                                            <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                    </th>

                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in Model.Users)
                                {
                                    <tr>
                                        <td class="d-none d-xl-table-cell">@u.Id</td>
                                        <td>@u.UserName</td>
                                        <td class="d-none d-xl-table-cell">@u.Email</td>
                                        <td>
                                            <a asp-page="UpdateUsers"
                                       asp-route-id="@u.Id"
                                               class="btn btn-primary mx-2">
                                                Update
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No users found</p>
                    }

                </div>
            </div>

        </div>
    </div>
</section>


